/* elements */
ul {
    padding: 0;
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  /* header */
  header {
  padding-top: 10px;
  display: flex;
  }
  
  header .logo {
  border-radius: 10px;
  }
  
  h1 {
  margin: 0;
  color: #007BFF;
  }
  
  header .logo img {
  width: 100%;
  height: 100%;
  }
  
  #colorpicker {
    visibility: hidden;
  }
  
  header .badge {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: calc(100vw - 600px);
  }
  
  header .badge .circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color:#007BFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2.5em;
  color: white;
  }
  
  /* nav */ 
  
  nav {
  margin-top: 10px;
  }
  
  nav ul {
  padding: 0;
  display: flex;
  background: #007BFF;
  height: 100%;
  }
  
  nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px white solid;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  }
  
  nav ul li a {
  color: white;
  text-decoration: none;
  }
  
  nav ul .active {
  background-color: white;
  }
  
  nav ul .active a {
  color: #007BFF;
  }
  
  
  nav ul li:nth-child(1) {
  border-left: 2px white solid;
  
  }
  
  /* section */
  section {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  }
  
  /* aside */
  
  aside {
  width: 16.66%
  }
  
  aside ul {
  width: 100%;
  height: 100%;
  background-color: #007BFF;
  display: flex;
  flex-direction: column;
  }
  
  aside ul li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px white solid;
  list-style-type: none;
  text-align: center;
  }
  
  aside ul li a {
  color: white;
  text-decoration: none;
  }
  
  aside ul .active {
  background-color: white;
  }
  
  aside ul .active a {
  color: #007BFF;
  }
  
  /* contain-articles */
  section .contain-articles {
  width: calc(100vw - 25%);
  }
  
  section .contain-articles .small-articles{
  width: 100%;
  display: flex;
  justify-content: space-between;
  }
  
  section .contain-articles article{
  width: 25%;
  padding: 10px;
  border: 1px #007BFF solid;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
  section .contain-articles .article-large {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: 1px #007BFF solid;
  text-align: justify;
  }
  
  .shop {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  }
  